{% assign sorted_repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse | where: "fork", "false" %}
<div id="container-open-source">
    <section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
        <div class="container">
            <div id="jumbotron-meta-info">
                <h1>Notes - Markdown</h1>
                <span class="meta-info">
                    I have <span class="repo-count badge">{{ sorted_repos.size }}</span> projects on Github
                </span>
            </div>
        </div>
    </section>

    <section class="container">
        <h3><a href = "/mdnotes/Graphics and Interaction Lectures Markdown/index.html">Markdown</a></h3>
    </section>

</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>